* {
  all: unset;   /* removes default backgrounds, borders, etc. */
}

.quote-text {
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
}

.quote-extra {
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #dadada;
  margin-top: 10px;
}
