[Desktop Entry]
Name=LEGO® The Lord of the Rings™
Comment=Play this game on Steam
Exec=steam steam://rungameid/214510
Icon=steam_icon_214510
Terminal=false
Type=Application
Categories=Game;
