[Desktop Entry]
Name=The Farmer Was Replaced
Comment=Play this game on Steam
Exec=steam steam://rungameid/2060160
Icon=steam_icon_2060160
Terminal=false
Type=Application
Categories=Game;
