*{
 font-family: JetbrainsMono Nerd Font;
 font-style: italic;
 font-size: 20px;
}

window {
    background-color: rgba(39, 46, 51, 0.8); /* semi-transparent */
    color: #272e33;
    border-radius: 20px;
    padding: 30px;
} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 200px 10px;
    border-color: transparent;
    color: #D3C6AA;
}


button:focus {
    box-shadow: none;
    outline-style: none;
    background-size : 30%;
    background-color: #E0A25A;
    color: transparent;
}

button:focus:hover {
  color: #272e33;
}

button:hover {
    background-size: 50%;
    outline-style: none;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    border-color: #E0A25A;
    color: #D3C6AA;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:focus {
  background-image: image(url("./icons/power-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));

}
#logout:focus {
  background-image: image(url("./icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:focus {
  background-image: image(url("./icons/restart-hover.png"));
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:focus {
  background-image: image(url("./icons/lock-hover.png"));
}

#sleep {
    background-image: image(url("./icons/hibernate.png"));
}
#sleep:focus {
  background-image: image(url("./icons/hibernate-hover.png"));
}